modules = ["nodejs-20", "web", "bash"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Platform"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Platform"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=23633 pnpm --filter @workspace/platform run dev"
waitForPort = 23633

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 23633
externalPort = 3000

[userenv]

[userenv.shared]
SUPABASE_URL = "https://saodkjnjskghqqktcxkj.supabase.co"
ADMIN_ID = "611665022"
WEBSITE_URL = "https://bot-name-maker--chnvuvnjj.replit.app"
SUPABASE_ANON_KEY = "sb_publishable_Py1MQeKrN2uyz8HUOUmS0Q__nrQQNbp"
ADMIN_PASSWORD = "oyatullo"
TELEGRAM_BOT_TOKEN = "8727402043:AAEE2UNCFUmdcJICSFS2ZLBk6FVZcEclbKs"

[userenv.production]

[nix]
channel = "stable-25_05"
